/*
Body color of background
 */
body {
    background-color: #dcdde1;
}

/*
Font to the letter
 */
select {
    font-family: Verdana;
    border-radius: 30px;
}

/*
Border radius for the input fields
 */
input {
    border-radius: 30px;
}

/*
Styles for the buttons
 */
button {
    font-family: Verdana;
    border-radius: 50px;
    width: 40%;
    height: 9%;
}

/*
Styles for the div login
 */
.login {
    font-family: Verdana;
    position: absolute;
    top: 20%;
    left: 35%;
    width: 25%;
    height: 40%;
    background: #353b48;
    border-radius: 15px;
    border: solid #353b48;
    box-shadow: 8px 8px 10px 0 #818181;
    color: white;
}

/*
Styles for the forms
 */
fieldset {
    border-color: transparent;
}

/*
Styles for login button
 */
#logButton {
    font-family: Verdana;
    background-color: #dcdde1;
    border-color: #dcdde1;
    border-radius: 18px;
}

/*
Styles for register button
 */
a {
    font-family: Verdana;
    background-color: #dcdde1;
    border-color: #dcdde1;
    border-radius: 22px;
}

/*
Styles for the owner interface
 */
.ownerBack {

    background-image: url("../imgs/1pets.png");
    background-size: cover;
    background-position: revert;
}

/*
Styles for the login interface
 */
.loginBack {

    background-image: url("../imgs/2pets.jpeg");
    background-size: cover;
    background-position: center;
}

/*
Styles for the SingUp interface
 */
.singupBack {

    background-image: url("../imgs/3pets.jpg");
    background-size: cover;
}

/*
Styles for the Vet interface
 */
.vetBack {
    background-image: url("../imgs/4pets.png");
    background-size: cover;
}

/*
Position and background for the forms
 */
.configureStyleMainForms {
    position: absolute;
    left: 1%;
    width: 600px;
    background: #FFFFFF44;
    padding: 30px;
    border-radius: 20px;
}

/*
Background for the forms
 */
.configureStyleMainBox {
    background: #FFFFFF44;
    border-radius: 20px;
}

/*
Styles for the select form to create a user interface
 */
.SelectForm {
    font-family: Verdana;
    color: white;
    width: 600px;
    background: #FFFFFF44;
    padding: 30px;
    border-radius: 20px;
}

/*
Styles for the vet sing up interface
 */
.VetSingUp {
    font-family: Verdana;
    color: white;
    width: 600px;
    background: #FFFFFF44;
    padding: 30px;
    border-radius: 20px;

}

.TitleInt {
    font-family: Verdana;
    position: absolute;
    left: 29.5%;
}

.filters {
    float: left;
    width: 30%;
    padding: 30px;
    background: #FFFFFF44;


}

.tablefilters {
    float: left;
    width: 70%;
    padding: 30px;
    background: #FFFFFF44;
}

.officialBack {
    background-image: url("../imgs/5pets.jpg");
    background-size: cover;
    background-position: revert;
}