body {
    background-color: #dcdde1;
}
select{
    font-family: Verdana;
    border-radius: 30px;
}
input{
    border-radius: 30px;
}
button{
    font-family: Verdana;
    border-radius: 50px;
    width: 40%;
    height: 9%;
}
.login {
    font-family: Verdana;
    position: absolute;
    top: 15%;
    left: 35%;
    width: 25%;
    height: 35%;
    background: #353b48;
    border-radius: 15px;
    border: solid #353b48;
    box-shadow: 8px 8px 10px 0 #818181;
    color: white;
}

fieldset {
    border-color: transparent;
}

#logButton {
    font-family: Verdana;
    background-color: #dcdde1;
    border-color: #dcdde1;
    border-radius: 18px;
}

a {
    font-family: Verdana;
    background-color: #dcdde1;
    border-color: #dcdde1;
    border-radius: 22px;
}

.ownerBack{

    background-image: url("../imgs/1pets.png") ;
    background-size: cover;
    background-position: revert;
}
.loginBack{

     background-image: url("../imgs/2pets.jpeg") ;
     background-size: cover;
     background-position: center;
 }
.singupBack{

    background-image: url("../imgs/3pets.jpg") ;
    background-size: cover;
}
.vetBack{

    background-image: url("../imgs/4pets.png") ;
    background-size: cover;
}
.configureStyleMainForms{
    position: absolute;
    left: 1%;
    width: 600px;
    background: #FFFFFF44;
    padding: 30px;
    border-radius: 20px;
}
.configureStyleMainBox{
    background: #FFFFFF44;
    border-radius: 20px;
}
.SelectForm{
    font-family: Verdana;
    color: white;
    width: 600px;
    background: #FFFFFF44;
    padding: 30px;
    border-radius: 20px;
}
.VetSingUp{
    font-family: Verdana;
    color: white;
    width: 600px;
    background: #FFFFFF44;
    padding: 30px;
    border-radius: 20px;

}